<!DOCTYPE HTML>
<html>

 <head>
  <title>Restaurante de Preciosa</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>

 <body>
  <header>
    <h1 id="pageName">Restaurante de Preciosa!</h1>
    <nav>
    	<ul>
    		<li><a href="/">Home</a></li>
    		<li><a href="/menu">Menu</a></li>
				<li><a href="/directions">Directions</a></li>
				<li><a href="/address">Address</a></li>
				<li><a href="/hours">Hours</a></li>  
        <li><a href="/rateus">Rate Us</a></li>
		  </ul>
	  </nav>
  </header>
  <div class="content">

		{{{ body }}}

  </div>
  <footer>The best comida in town!</footer>
 </body>
</html>