<!doctype html>
<html>
    <head>
		<title>Federal Tax Bracket 2016 (Single Filers)</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<main>
			{{{body}}}
		</main>
	</body>
</html>