<h2>Contact Us</h2>

<p>Please let us know how we are doing! Your opinion is very important to us. We will send a reply in 3 business days or less.</p>

<form method="post" action="/rateus">
	<div class="line">
		<label>How are we doing?</label> 
		<div class="blank"><input type="text" name="opinion" class="string"/></div>
	</div>
	<div class="line">
		<label>Rate us from 1-10</label> 
		<div class="blank"><input type="text" name="rate" class="number" /></div>
	</div>

	<input type="submit" class="button"/>

</form>