<h1>Federal Withholding 2016</h1>

<form method="post" action="/total">
	<div class="line">
		<label>Yearly Salary 2016</label> 
		<div class="blank">$<input type="text" name="salary" class="number"/></div>
	</div>
	
	<input type="submit" class="button"/>
</form>