<h2>Menu</h2>
<div class="menu">
<h3>Meats</h3>
	<ul>
		<li>Chicken</li>
		<li>Steak</li>
		<li>Corned Beef</li>
		<li>Turkey</li>
	</ul>
</div>
<div class="menu">
<h3>Fish</h3>
	<ul>
		<li>Salmon</li>
		<li>Flounder</li>
		<li>Catfish</li>
		<li>Whiting</li>
	</ul>
</div>
<div class="menu">
<h3>Sides</h3>
	<ul>
		<li>French Fries</li>
		<li>Mashed Potatoes</li>
		<li>Caesar Salad</li>
		<li>Kale</li>
	<ul>
</div>
<p class="menu">CHOOSE 1 MEAT/FISH AND A SIDE FOR $11.99 OR 2 MEATS/FISH AND A SIDE FOR $16.99!!</p>